@charset "UTF-8";

/* Убираем внешние отступы */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul,
ol {
  list-style: none;
}

/* Элементы a, у которых есть класс, сбрасываем */

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "DrukCyr-Bold";
  font-display: swap;
  src: url("../fonts/DrukCyr-Bold.woff") format("woff"), url("../fonts/DrukCyr-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DrukCyr-Medium";
  font-display: swap;
  src: url("../fonts/DrukCyr-Medium.woff") format("woff"), url("../fonts/DrukCyr-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DrukCyr-MediumItalic";
  font-display: swap;
  src: url("../fonts/DrukCyr-MediumItalic.woff") format("woff"), url("../fonts/DrukCyr-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DrukCyr-SuperItalic";
  font-display: swap;
  src: url("../fonts/DrukCyr-SuperItalic.woff") format("woff"), url("../fonts/DrukCyr-SuperItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DrukCyr-Super";
  font-display: swap;
  src: url("../fonts/DrukCyr-Super.woff") format("woff"), url("../fonts/DrukCyr-Super.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "DrukCyr-Medium";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-white);
  letter-spacing: 0.05em;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

picture {
  font-size: 0;
}

:root {
  --color-black: #060606;
  --color-white: #fdfdfd;
}

.title {
  font-family: "DrukCyr-Bold";
  font-size: 64px;
  text-transform: uppercase;
}

.text__paragraph {
  margin-bottom: 20px;
}

.back-link:before {
  content: "←";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  color: var(--color-black);
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  max-height: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 20px 10px;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  margin-bottom: 20px;
}

.header__link {
  margin-left: -4px;
  font-size: 48px;
  letter-spacing: 0.05em;
  white-space: nowrap;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: uppercase;
}

.header__link:hover {
  text-decoration: underline;
}

.preview-index__container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview-index__name {
  font-family: "DrukCyr-SuperItalic";
  font-size: 280px;
  line-height: 240px;
  margin-bottom: 65px;
}

.preview-index__link {
  width: 310px;
  font-size: 32px;
}

.preview-index__logo {
  margin-top: -60px;
  margin-right: -100px;
}

.btn {
  font-family: DrukCyr-MediumItalic;
  padding: 10px 20px;
  border: 2px solid var(--color-white);
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.partners {
  background-color: var(--color-white);
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 10px 50px;
}

.partners__item {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.partners__item:hover {
  -webkit-filter: none;
          filter: none;
}

.preview-about__img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding: 100px 0;
}

.about__title {
  margin-bottom: 50px;
}

.blog {
  padding: 100px 0;
}

.blog__title {
  margin-bottom: 50px;
}

.blog__item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__item:first-child .blog__img {
  min-width: 660px;
  width: 660px;
  height: 396px;
}

.blog__item:first-child .blog__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__item:first-child .blog__link {
  margin-left: 0;
}

.blog__item:first-child .blog__paragraph {
  margin-bottom: 20px;
}

.blog__item:first-child .blog__text {
  -webkit-line-clamp: 10;
  /* Число отображаемых строк */
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

.blog__item:first-child .blog__item-margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__img {
  width: 230px;
  min-width: 230px;
  height: 138px;
  margin-right: 20px;
}

.blog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__info-title {
  font-size: 32px;
  font-family: DrukCyr-Super;
  margin-bottom: 15px;
}

.blog__text {
  -webkit-line-clamp: 2;
  /* Число отображаемых строк */
  display: -webkit-box;
  /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  /* Вертикальная ориентация */
  overflow: hidden;
}

.blog__link {
  margin-left: 10px;
  min-width: 130px;
}

.blog__date {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(253, 253, 253, 0.8);
}

.post {
  padding: 100px 0;
}

.post img {
  margin-top: 20px;
}

.post__link {
  margin-bottom: 20px;
}

.post__title {
  margin-top: 20px;
  margin-bottom: 50px;
}

.teams {
  padding: 100px 0;
}

.teams__title {
  margin-bottom: 50px;
}

.games {
  padding: 50px 40px;
  border: 2px solid var(--color-white);
  position: relative;
  margin-bottom: 10px;
}

.games:hover .games__img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.games__title {
  font-family: DrukCyr-Super;
  font-size: 100px;
  line-height: 100px;
  margin-bottom: 50px;
}

.games__link {
  max-width: 310px;
  font-size: 32px;
}

.games__img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: calc(100% + 2px);
}

.games__img img {
  height: 100%;
  max-width: 520px;
}

.team {
  padding: 100px 0;
}

.team__title {
  margin-bottom: 50px;
}

.member {
  border: 2px solid var(--color-white);
  padding: 40px 50px;
  position: relative;
  margin-bottom: 10px;
}

.member__nickname {
  font-family: DrukCyr-Super;
  font-size: 100px;
  line-height: 100px;
}

.member__name {
  font-size: 32px;
  color: rgba(253, 253, 253, 0.9);
}

.member__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.member__info-item {
  max-width: 305px;
}

.member__info-title {
  font-family: DrukCyr-Super;
  font-size: 24px;
  margin-bottom: 10px;
}

.member__info-description {
  font-family: DrukCyr-Bold;
  letter-spacing: 0.06em;
  color: rgba(253, 253, 253, 0.9);
}

.member__img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
}

.member-show .member__info {
  margin-top: 40px;
  max-height: 1000px;
}

.member-show .member__img {
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 1;
}

@media (max-width: 1570px) {
  .container {
    padding-left: 100px;
    padding-right: 20px;
  }
}